$fondo-beige: rgb(255, 255, 255);

body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color:white;
}

a {
    text-decoration: none;
    color: $fondo-beige;
    text-align: center;
    padding: 5px;
}

.link-custom{
    margin-left: 20px;
    &:hover{
        background-color:white;
        font-weight:bolder;
        transform: scale(2.2);
        width: 75px;
    }
}

footer{
    background-color:#454546;
    color:white;
    padding:20px;
    text-align:center;
}



#imagen__principal{
   width:100%;
}

#titulo__principal{
    background-color: #666666;
    color: white;
    margin: 0px;
    padding: 10px;
}

nav{
    padding:0px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    li{
        margin-left:20px;
    }
}

i{
    &:hover{
        text-decoration: none;
        margin:0px;
        padding:0px;
        background-color:#5dc1b9;
    }  
}


.img-card{
    width: 250px;
    height: 150px;
}

