.img-marca{
    width: 192px;
    height: 108px;
}


main h1{
    text-align: center;

}


.caja-tarjeta{
      display: grid;
        border: solid 3px black;
     background-color: rgb(221, 221, 223);
     color: black;

}